.cl-article {
  max-width: 1200px;
  padding: spacing("article", "trl");
  .blog-post-content {
    p {
      margin-top: spacing("gutter");
      text-indent: spacing("gutter") / 2;
    }
    a {
      text-indent: 0;
    }
  }
  .cl-article-image {
    max-width: 100%;
    box-shadow: 0 2px 3px rgba(color("black"), 0.25);
    margin-top: spacing("gutter");
    border-radius: 7px;
  }
  .cl-date {
    text-indent: 5px;
    font-style: italic;
    margin-top: 5px;
  }
}
