// TODO: Move highlight to a utility
@mixin font-highlight() {
  &::selection {
    background-color: rgba(darken(color("tertiary"), 10%), 0.75);
    color: color("white");
  }
}

@mixin no-highlight() {
  &::selection {
    background-color: rgba(color("white"), 0);
  }
}

button {
  @include no-highlight();
}

h1,
h2 {
  @include font("primary-large");
  @include font-highlight();
}

h3 {
  @include font("primary-medium");
  @include font-highlight();
}

h4 {
  @include font("primary-small");
  @include font-highlight();
}

h5,
h6 {
  @include font("primary-xsmall");
  @include font-highlight();
}

a {
  @include font-highlight();
}

p {
  @include font("body");
  @include font-highlight();
  line-height: 18px;
  a {
    @include font-highlight();
    color: color("black");
    font-weight: 800;
    text-decoration: none;
    height: 11px;
    border-bottom: 8px solid rgba(color("primary"), 0.35);
    display: inline-block;
    padding: 0 2px;
  }
}

code {
  @include font("code");
  @include font-highlight();
}

.cl-a-primary,
.cl-a-secondary,
.cl-a-tertiary {
  color: color("black");
  font-weight: 800;
  text-decoration: none;
  height: 11px;
  border-bottom: 8px solid rgba(color("primary"), 0.35);
  display: inline-block;
  padding: 0 2px;
}
.cl-a-secondary {
  border-bottom: 8px solid rgba(color("secondary"), 0.35);
}
.cl-a-tertiary {
  border-bottom: 8px solid rgba(color("tertiary"), 0.35);
}
.cl-a-reverse {
  color: color("white");
  background-color: color("black");
  padding: 7px 5px;
  margin-top: -7px;
  margin-bottom: -7px;
  border-radius: 7px;
  font-weight: 800;
}

a {
  @include font("body");
  line-height: 18px;
  text-decoration: none;
  font-weight: 500;
}

em,
i {
  @include font-highlight();
  font-style: italic;
}

strong {
  @include font-highlight();
  font-weight: bold;
}
