// Components are target css classes that are intended to be fully reusable with easy to replicate html structures.
.cl-primary-header {
  padding: spacing("gutter", "b");
  @include breakpoint("xsmall") {
    border-bottom: 2px solid color("black");
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include breakpoint("small", $down: true) {
    flex-direction: column;
    height: 75px;
  }
  .head-logo {
    text-decoration: none;
  }
  nav {
    align-self: flex-end;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
      }
    }
  }
}
