@mixin cl-jumbotron {
  width: 100%;
  margin-top: spacing("gutter");
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @include breakpoint("xsmall", $down: true) {
    flex-direction: column;
  }
  .content {
    padding: spacing("gutter");
    height: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    h2 {
      @include font("jumbo-header");
      a {
        font-size: 24pt;
        margin: 0 1px;
      }
      .cl-a-primary {
        border-bottom: 14px solid rgba(color("primary"), 0.35);
      }
      .cl-a-secondary {
        border-bottom: 14px solid rgba(color("secondary"), 0.35);
      }
      .cl-a-tertiary {
        border-bottom: 14px solid rgba(color("tertiary"), 0.35);
      }
    }
    @include breakpoint("small", $down: true) {
      h2,
      h2 a {
        font-size: 12pt;
        .cl-a-primary {
          border-bottom: 5px solid rgba(color("primary"), 0.35);
        }
        .cl-a-secondary {
          border-bottom: 5px solid rgba(color("secondary"), 0.35);
        }
        .cl-a-tertiary {
          border-bottom: 5px solid rgba(color("tertiary"), 0.35);
        }
      }
    }
  }
  .interactive {
    padding: spacing("gutter");
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cl-jumbotron {
  @include cl-jumbotron();
}
