@mixin cl-wrapper() {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@mixin cl-page() {
  width: 100%;
  flex-grow: 999999;
  padding: spacing("gutter");
  box-sizing: border-box;

  h3 {
    margin-top: 20px;
  }
}

@mixin cl-page-content() {
  padding-top: spacing("gutter") / 2;
  @include breakpoint("xsmall") {
    padding-top: spacing("gutter");
  }
}

.cl-wrapper {
  @include cl-wrapper();
}

.cl-page {
  @include cl-page();
}

.cl-page-content {
  @include cl-page-content();
}
