.styleguide {
  padding: spacing("gutter", "t");
  hr {
    margin-bottom: 5px;
  }
  button {
    margin: spacing("gutter", "rb");
  }
  form {
    @include flex-s-s-c();
  }
  .cl-card-soft-shadow {
    margin: spacing("gutter", "rb");
  }
}
