@mixin button($color: color("primary")) {
  @include button-normalize();
  border-radius: 150px;
  margin: spacing("gutter", "rb");
  padding: 15px 30px;
  background-color: $color;
}

.cl-button-primary {
  @include button();
}

.cl-button-secondary {
  @include button(color("secondary"));
}

.cl-button-tertiary {
  @include button(color("tertiary"));
}
