@mixin button($color: color("primary")) {
  @include button-normalize();
  @include font("button");
  border-radius: 150px;
  padding: 10px 25px;
  background-color: $color;
  transition: 0.2s;
  box-shadow: 0 0 3px inset rgba(color("black"), 0.5);
  &:hover {
    background-color: darken($color, 10%);
  }
}

.cl-btn-primary {
  @include button();
}

.cl-btn-secondary {
  @include button(color("secondary"));
}

.cl-btn-tertiary {
  @include button(color("tertiary"));
}
