$fallback-family: "Jost", sans-serif;

$initial-font-palette: (
  "jost": (
    "Jost",
    sans-serif,
  ),
  "noto-sans": (
    "Noto Sans SC",
    sans-serif,
  ),
  "ubuntu-mono": (
    "Ubuntu Mono",
    monospace,
  ),
);

$normalized-font-palette: (
  "primary-large": (
    "color": color("black"),
    "size": 32pt,
    "weight": normal,
    "family": "jost",
  ),
  "primary-medium": (
    "color": color("black"),
    "size": 26pt,
    "weight": normal,
    "family": "jost",
  ),
  "primary-small": (
    "color": color("black"),
    "size": 18pt,
    "weight": normal,
    "family": "jost",
  ),
  "primary-xsmall": (
    "color": color("black"),
    "size": 16pt,
    "weight": 500,
    "family": "jost",
  ),
  "body": (
    "color": color("black"),
    "size": 12pt,
    "weight": normal,
    "family": "noto-sans",
  ),
  "button": (
    "color": color("white"),
    "size": 12pt,
    "weight": normal,
    "family": "noto-sans",
  ),
  "form-inputs": (
    "color": color("black"),
    "size": 12pt,
    "weight": normal,
    "family": "noto-sans",
  ),
  "form-labels": (
    "color": color("black"),
    "size": 16pt,
    "weight": normal,
    "family": "jost",
  ),
);

$font-palette: $normalized-font-palette;

// Old typeface mixin
@mixin typeface($color: $black, $size: 16pt, $weight: normal, $family: $fallback-family) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

@mixin font($value) {
  $font-palette: map-get($normalized-font-palette, $value);
  color: map-get($font-palette, "color");
  font-size: map-get($font-palette, "size");
  font-weight: map-get($font-palette, "weight");
  font-family: map-get($initial-font-palette, map-get($font-palette, "family"));
}

// TODO: Make this a component, it really isn't a palette
// TODO: Move highlight to a utility
@mixin font-highlight() {
  &::selection {
    background-color: rgba(darken(color("tertiary"), 10%), 0.75);
    color: color("white");
  }
}

@mixin no-highlight() {
  &::selection {
    background-color: rgba(color("white"), 0);
  }
}

button {
  @include no-highlight();
}

h1,
h2 {
  @include font("primary-large");
  @include font-highlight();
}

h3 {
  @include font("primary-medium");
  @include font-highlight();
}

h4 {
  @include font("primary-small");
  @include font-highlight();
}

h5,
h6 {
  @include font("primary-xsmall");
  @include font-highlight();
}

p {
  @include font("body");
  @include font-highlight();
  line-height: 18px;
  a {
    @include font-highlight();
    color: color("black");
    font-weight: 800;
    text-decoration: none;
    height: 11px;
    border-bottom: 7px solid rgba(color("primary"), 0.35);
    display: inline-block;
    padding: 0 2px;
  }
}

.cl-a-primary,
.cl-a-secondary,
.cl-a-tertiary {
  color: color("black");
  font-weight: 800;
  text-decoration: none;
  height: 11px;
  border-bottom: 7px solid rgba(color("primary"), 0.35);
  display: inline-block;
  padding: 0 2px;
}
.cl-a-secondary {
  border-bottom: 7px solid rgba(color("secondary"), 0.35);
}
.cl-a-tertiary {
  border-bottom: 7px solid rgba(color("tertiary"), 0.35);
}
.cl-a-reverse {
  color: color("white");
  background-color: color("black");
  padding: 7px 5px;
  margin-top: -7px;
  margin-bottom: -7px;
  border-radius: 7px;
  font-weight: 800;
}

a {
  @include font("body");
  line-height: 18px;
  text-decoration: none;
  font-weight: 500;
}

em,
strong,
i {
  @include font-highlight();
  font-style: italic;
}
