$initial-spacing-palette: (
  "gutter": 1.5rem,
);

$normalized-spacing-palette: (
  "gutter": "gutter",
);

$spacing-palette: $normalized-spacing-palette;

@function spacing($value, $direction: null, $map: $normalized-spacing-palette) {
  @if $direction == null {
    @return map-get($initial-spacing-palette, map-get($map, $value));
  } @else {
    // Direction param passed
    $amoun: map-get($initial-spacing-palette, map-get($map, $value));
    $directions: (
      top: 0,
      right: 0,
      bottom: 0,
      left: 0,
    );

    // TODO: Actually parse directions
    @return "red";
  }
}
