// Cold Lib SCSS V0.0.4

// Importing the Eric Meyer Reset as a base (Public Domain)
@import "./misc/reset.css";

// Pallette Imports: Structured imports of expected palette maps
@import "./palettes/breakpoint-palette.scss";
@import "./palettes/color-palette.scss";
@import "./palettes/font-palette.scss";
@import "./palettes/spacing-palette.scss";

// Mixin Imports: Collections of mixins to include in the site specific styles
@import "./mixins/flex.scss";
@import "./mixins/utility.scss";

// Component Imports: Styled Out-of-the-Box components that come with cold-lib
@import "./components/styleguide.scss";
@import "./components/header.scss";
@import "./components/buttons.scss";

@function break($value, $map: $default-break-map, $max: false) {
  $width: map-get($default-break-map, $value);
  @if $max {
    @return "max-width: #{$width}";
  } @else {
    @return "min-width: #{$width}";
  }
}

@mixin breakpoint($value, $down: false, $map: $default-break-map) {
  @media screen and (break($value, $max: $down)) {
    @content;
  }
}

@mixin input-normalize() {
  border: none;
}

@mixin center-article() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  article,
  .article,
  .article-center {
    position: relative;
    max-width: 1200px;
  }
}

hr {
  border: none;
}
