@import "./cold-lib/cold-lib.scss";
body {
  background-color: color("white");
}
.testing {
  padding: spacing("gutter", $direction: "t");
}
.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: spacing("gutter");
  a h1 {
    height: 60px;
    @include font("not-found");
    border-bottom: 75px solid rgba(color("primary"), 0.35);
    padding: spacing("gutter", "lr");
    margin-bottom: spacing("gutter");
    @include breakpoint("small", $down: true) {
      height: 20px;
      font-size: 150px;
    }
  }
}
.index-jumbotron {
  padding-bottom: spacing("gutter");
  border-bottom: $line;
}
.index-section {
  padding-top: spacing("gutter");
}
.blog {
  margin-top: spacing("gutter");
  .cl-card-con-title h3 {
    font-style: italic;
  }
}
.header-canvas {
  $height: 200px;
  position: absolute;
  width: 100%;
  // background-color: greenyellow;
  height: $height;
  margin-bottom: -$height;
  z-index: -10;
}
