$initial-color-palette: (
  "black": #16161d,
  "white": white,
  "onyx": #393d3f,
  "ivory": #fffff2,
  "blue": #49c5b6,
  "red": #f15e5e,
  "purple": #8154ef,
  "green": #56e39f,
  "yellow": #ffbe0b,
  "orange": #fb5607,
);

// A sensibly bound set of colors related to their purpose against the initial color palette
// Colors not bound here should not be accessible to other parts of the system
$normalized-color-palette: (
  "black": "onyx",
  "white": "white",
  "primary": "blue",
  "secondary": "red",
  "tertiary": "purple",
  "success": "green",
  "warning": "yellow",
  "failure": "orange",
);

$color-palette: $normalized-color-palette;

// Binding the color function to return context based color bindings. IE: color('primary')
@function color($value, $map: $normalized-color-palette) {
  @return map-get($initial-color-palette, map-get($map, $value));
}
