$initial-spacing-palette: (
  "gutter": 25px,
  "button-padding": 30px,
  "form-margin": 20px,
  "input-text-padding": 10px,
  "footer": 15px,
);

$normalized-spacing-palette: (
  "gutter": "gutter",
  "button-padding": "button-padding",
  "form-margin": "form-margin",
  "input-text-padding": "input-text-padding",
  "footer": "footer",
);

$spacing-palette: $normalized-spacing-palette;

@function spacing($value, $direction: null, $map: $normalized-spacing-palette) {
  @if $direction == null {
    @return map-get($initial-spacing-palette, map-get($map, $value));
  } @else {
    // Direction param passed
    $renderedVal: map-get($initial-spacing-palette, map-get($map, $value));
    $rs: "";
    @if (str-index($direction, "t")) {
      $rs: $rs + $renderedVal + " ";
    } @else {
      $rs: $rs + "0 ";
    }
    @if (str-index($direction, "r")) {
      $rs: $rs + $renderedVal + " ";
    } @else {
      $rs: $rs + "0 ";
    }
    @if (str-index($direction, "b")) {
      $rs: $rs + $renderedVal + " ";
    } @else {
      $rs: $rs + "0 ";
    }
    @if (str-index($direction, "l")) {
      $rs: $rs + $renderedVal;
    } @else {
      $rs: $rs + "0";
    }

    @return unquote($rs);
  }
}
